@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* App.css */
.neumorphism-box {
  background: #101828;
  box-shadow: 9px 9px 18px rgba(0, 0, 0, 0.3),
    -9px -9px 18px rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 20px;
}

.neumorphism-circle {
  box-shadow: 9px 9px 18px rgba(0, 0, 0, 0.3),
    -9px -9px 18px rgba(255, 255, 255, 0.1);
  border-radius: 100%;
}

.neumorphism-buttom {
  box-shadow: 9px 9px 18px rgba(0, 0, 0, 0.3),
    -9px -9px 18px rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 20px;
}

/*hover del boton to guapo*/

.hover-button {
  color: white;
  text-decoration: none;
  border: none;
  background: none;
  font-weight: 600;
}
.hover-button::before {
  margin-left: auto;
}
.hover-button::after,
.hover-button::before {
  content: "";
  width: 0%;
  height: 2px;
  background: #3399ff;
  display: block;
  transition: 0.5s;
}
.hover-button:hover::after,
.hover-button:hover::before {
  width: 100%;
}

.hover-button-custom {
  text-decoration: none;
  border: none;
  background: none;
  font-weight: 600;
}
.hover-button-custom::before {
  margin-left: auto;
}
.hover-button-custom::after,
.hover-button-custom::before {
  content: "";
  width: 0%;
  height: 2px;
  background: #3399ff;
  display: block;
  transition: 0.5s;
}
.hover-button-custom:hover::after,
.hover-button-custom:hover::before {
  width: 100%;
}

.navbar-gradient {
  background: linear-gradient(90deg, #101828, #254061);
}

.home-gradient {
  background: linear-gradient(140deg, #101828, #254061);
}

.neumorphism-tarjeta {
  background: #101828;
  box-shadow: 20px 20px 40px #0a1018, -20px -20px 40px #141f30;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.neumorphism-tarjeta:hover {
  box-shadow: 15px 15px 30px #0a1018, -15px -15px 30px #141f30;
}

.custom-font {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
}

.effect-glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.3),
    rgba(8, 182, 230, 0.2)
  );
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  color: rgb(255, 255, 255); /* Asegúrate de que el texto sea visible */
}

.truncate-text {
  @apply overflow-hidden text-ellipsis whitespace-nowrap;
  max-width: 170px;
} /* Ajusta este valor según necesites */
