/* App.css */
.neumorphism-box {
  background: #101828;
  box-shadow: 9px 9px 18px rgba(0, 0, 0, 0.3), -9px -9px 18px rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 20px;
}

.neumorphism-buttom {
  box-shadow: 9px 9px 18px rgba(0, 0, 0, 0.3), -9px -9px 18px rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 20px;
}



